@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
br {
  content: "";
  display: block;
  font-size: 100%;
  height: 0.5em;
}
.bg-blue1 {
  background-color: #1A1A40;
}
footer {
  width: 100%;
  font-size: 0.8rem;
}
.slider {
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0px 0.05534512922167778px 1.743371605873108px 0px #1A1A400B;
  box-shadow: 0px 0.13300204277038574px 4.189564228057861px 0px #1A1A400F;
  box-shadow: 0px 0.25043103098869324px 7.888577461242676px 0px #1A1A4013;
  box-shadow: 0px 0.4467261731624603px 14.071874618530273px 0px #1A1A4017;
  box-shadow: 0px 0.8355522155761719px 26.319894790649414px 0px #1A1A401B;
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.card-wrap {
  display: flex;
  flex-direction: row;
}
.slider-card img {
  max-width: 190px !important;
  max-height: 250px !important;
}
.slider-card p {
  font-size: 0.8rem !important;
  margin-left: 15px !important;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
/*.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px !important;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #333 !important;
}*/

@media(max-width: 644px) {
  .slider-card {
    margin: 30px 15px 50px 15px;
  }
  .slider-card img {
    max-width: 150px !important;
    max-height: 230px !important;
  }
  .slider-card p {
    font-size: 0.7rem !important;
    margin-left: 12px !important;
  }
}

@media(max-width: 450px) {
  .slider {
    margin-top: 30px;
  }
  .slider-card img {
    max-width: 100px !important;
    max-height: 200px !important;
  }
  .slider-card p {
    font-size: 0.6rem !important;
    margin-left: 8px !important;
  }
}

@media(max-width: 360px) {
  .slider-card img {
    max-width: 110px !important;
    max-height: 190px !important;
  }
  .slider-card p {
    font-size: 0.5rem !important;
    margin-left: 5px !important;
  }
}

@media(max-width: 300px) {
  .card-wrap {
    flex-direction: column;
  }
  .slider-card img {
    margin: auto;
    max-width: 90px;
    max-height: 100px;
  }
}